.timesheet {

  &__hours-container {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    min-height: 490px;
  }

  &__hours-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__day-earnings {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__hours-heading-wrapper {
    display: flex;
    justify-content: center;

    & h3 {
      text-align: center;
    }
  }
}
