.timesheet {

  &__selection-container {
    padding: 48px 24px 18px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    background-color: var(--clr-background);
  }

  &__hours-container {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    min-height: 490px;
  }

  &__hours-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__day-earnings {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__summary-container {
    padding: 48px 24px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    background-color: var(--clr-background);
  }

}
