@import "assets/style/css-reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --clr-text: #1C1B1F;
  --clr-primary: #6750A4;
  --clr-secondary: #EADDFF;
  --clr-input-hover: #5894c3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-text);
}

.timesheet-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
